html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: #646E78;
    color: white;
}

#gridAndButtons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


/* weird way to center the grid box, but I'm not sure how else to do it so this will work for. I just offset the grid by how much the button container is taking */
#gridWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 297px;
}


#gridContainer {
    box-sizing: content-box;
    display: grid;
    height: 600px;
    width: 600px;
    border-style: solid;
    background-color: white;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: 250px;
    height: 404px;
    gap: 12px;
    background-color: white;
    margin-right: 50px;
}

button {
    font-size: 30px;
    width: 80%;
    height: 15%;
}

#userRange {
    font-size: 30px;
}

#sliderWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

#slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;  
    background: #b2b2b2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #495158;
    cursor: pointer;
  }

  slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }


.filled {
    background-color: black;
}

.rainbow {
    
}